<!-- <mat-grid-list cols="1" rowHeight="2:0.75">
    <mat-grid-tile>
        <mat-grid-list cols="2">
            <mat-grid-tile class="d-flex flex-column">
                <h1 class="p-2">
                    Jbf bank og forsikring
                </h1>
                <p class="p-2">
                    Enten du skal forsikre bilen, husket, deg selv eller dine aller nærmeste,
                    tilbyr vi gode vilkår og dekninger. Gå en trygg vinter i møte med gode forsikringer!
                </p>

            </mat-grid-tile>
            <mat-grid-tile class="pa-0">
                <img src="./assets/jbf_snowgirl.webp" class="mat-landingpage-img" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
        2
    </mat-grid-tile>
    <mat-grid-tile>
        3
    </mat-grid-tile>

</mat-grid-list> -->

<div class="landing-container d-flex flex-column">
    <!-- Banner-ish content -->
    <div class="lp-banner d-flex">
        <div class="lp-header-txt flex-column">
            <p style="font-size:30px;">Jbf bank og forsikring</p>
            <p style="font-size:16px;">Enten du skal forsikre bilen, huset, deg selv eller dine aller nærmeste, tilbyr vi gode vilkår og dekninger. Gå en trygg vinter i møte med gode forsikringer! </p>
            <mat-icon style="font-size:36px;">arrow_forward</mat-icon>
        </div>
        <div>
            <img src="./assets/jbf_snowgirl.webp" class="lp-img" />
        </div>
    </div>

    <!-- FABs -->
    <div class="lp-fab-grp-container">
        <div></div> 
        <div class="d-flex-column lp-fab-container">
            <button mat-fab class="lp-fab"><mat-icon>credit_card</mat-icon></button>
            <h2 class="lp-fab-text">Dagligbank</h2>
        </div>
        <div class="d-flex-column lp-fab-container">
            <button mat-fab class="lp-fab"><mat-icon>umbrella</mat-icon></button>
            <h2 class="lp-fab-text">Forsikre</h2>
        </div>
        <div class="d-flex-column lp-fab-container">
            <button mat-fab class="lp-fab"><mat-icon>local_atm</mat-icon></button>
            <h2 class="lp-fab-text">Låne</h2>
        </div>
        <div class="d-flex-column lp-fab-container">
            <button mat-fab class="lp-fab"><mat-icon>trending_up</mat-icon></button>
            <h2 class="lp-fab-text">Spare</h2>
        </div>
        <div class="d-flex-column lp-fab-container">
            <button mat-fab class="lp-fab"><mat-icon>healing</mat-icon></button>
            <h2 class="lp-fab-text">Meld skade</h2>
        </div>
        <div></div>
    </div>

    <!-- Action buttons -->
    <div class="lp-action-btn-container">
        <button mat-raised-button class="lp-action-btn">
            <mat-icon>help</mat-icon>
            Ofte stilte spørsmål
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-raised-button class="lp-action-btn">
            <mat-icon>call</mat-icon>
            Kontakt oss
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <!-- News section -->
    <div class="lp-news-container d-flex">
        <div class="lp-news-card flex-column">
            <img src="./assets/jbf_corona.webp" class="lp-img" />
            <div class="lp-news-card-content">
                    <h4 class="lp-card-text-header">
                        Koronasituasjonen
                    </h4>
                    <p class="lp-card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
            </div>

        </div>
        <div class="lp-news-card flex-column">
            <img src="./assets/jbf_meeting.webp" class="lp-img" />
            <div class="lp-news-card-content">
                <h4 class="lp-card-text-header">
                    Kundevalgmøte 2022
                </h4>
            </div>

        </div>
        <div class="lp-news-card flex-column">
            <img src="./assets/jbf_vacaycay.webp" class="lp-img" />
            <div class="lp-news-card-content">
                <h4 class="lp-card-text-header">
                    Lyst på utenlandstur?
                    <br />
                    Dette bør du vite
                </h4>
            </div>
            <div class="lp-card-footer">
                <mat-icon>arrow_forward</mat-icon>
            </div>

        </div>
    </div>

    <!-- Ad banner -->

    <!-- Press release -->
</div>

<!-- Footer -->