<!-- <mat-grid-list cols="1" rowHeight="2:0.75">
    <mat-grid-tile>
        <mat-grid-list cols="2">
            <mat-grid-tile class="d-flex flex-column">
                <h1 class="p-2">
                    Jbf bank og forsikring
                </h1>
                <p class="p-2">
                    Enten du skal forsikre bilen, husket, deg selv eller dine aller nærmeste,
                    tilbyr vi gode vilkår og dekninger. Gå en trygg vinter i møte med gode forsikringer!
                </p>

            </mat-grid-tile>
            <mat-grid-tile class="pa-0">
                <img src="./assets/jbf_snowgirl.webp" class="mat-landingpage-img" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile>
        2
    </mat-grid-tile>
    <mat-grid-tile>
        3
    </mat-grid-tile>

</mat-grid-list> -->

<div class="landing-container d-flex flex-column">
    <div class="d-flex align-center justify-center">
        <div class="p-5">
            <h1 class="align-center">Jbf bank og forsikring</h1>
            <p>Enten du skal forsikre bilen, huset, deg selv eller dine aller nærmeste, tilbyr vi gode vilkår og dekninger. Gå en trygg vinter i møte med gode forsikringer! </p>
        </div>
        <div class="p-0">
            <img src="./assets/jbf_snowgirl.webp" class="mat-landingpage-img" />
        </div>
    </div>
    <div class="d-flex justify-space-between">
        <div class="p2">
            <button mat-fab></button>
        </div>
        <div class="p2">
            <button mat-fab></button>
        </div>
        <div class="p2">
            <button mat-fab></button>
        </div>
        <div class="p2">
            <button mat-fab></button>
        </div>
        <div class="p2">
            <button mat-fab></button>
        </div>
    </div>
</div>