.landing-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: fit-content;
    max-width: 1200px;
    color: #00383D;
    justify-items:center;
}

mat-grid-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    width: 1200px;
    padding-bottom: 0px;
    padding-top: 0px;
}

mat-grid-tile {
    background: lightblue;
}

.lp-header-txt {
    display: flex;
    margin: 4px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lp-img {
    width: auto;
    height: auto;
    object-fit: fill;
}

.lp-fab-grp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-color: #ECE5E0;
    background-color: white;
    padding: 30px;
}

.lp-fab {
    background-color: white;
    border-color: #ECE5E0;
    border-style: solid;
}

.lp-fab-text {
    color: #00383D; 
    text-align: center;
}

.lp-fab-container {
    text-align: center;
}

.lp-action-btn-container {
    display: flex;
    margin: 4px;
    padding-top: 60px;
    padding-right: 27%;
    padding-left: 27%;
    justify-content: space-around;
    align-items: center;
}

.lp-action-btn {
    display: flexbox;
    padding: 4px;
    height: 50px;
    width: 250px;
}