.landing-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: fit-content;
    max-width: 1200px;
    color: #00383D;
    justify-items:center;
}

.lp-header-txt {
    display: flex;
    margin: 4px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lp-img {
    width: auto;
    height: auto;
    object-fit: fill;
}

.lp-fab-grp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-color: #ECE5E0;
    background-color: white;
    padding: 30px;
}

.lp-fab {
    background-color: white;
    border-color: #ECE5E0;
    border-style: solid;
}

.lp-fab:hover {
    background-color: #ECE5E0;
}

.lp-fab-text {
    padding-top: 6px;
    color: #00383D; 
    text-align: center;
}

.lp-fab-container {
    text-align: center;
}

.lp-action-btn-container {
    display: flex;
    margin: 4px;
    padding-top: 60px;
    padding-right: 27%;
    padding-left: 27%;
    justify-content: space-around;
    align-items: center;
}

.lp-action-btn {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 4px;
    height: 55px;
    width: 250px;
    font-size: 18px;
}

.lp-action-btn:hover {
    background-color: #F7F6F6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lp-news-container {
    display: flexbox;
    padding: 70px;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
}

.lp-news-card {
    min-height: 350px;
    height: 350px;
    width: 310px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lp-news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lp-news-card-content {
    display: flexbox;
    padding: 0px 16px;
}

.lp-card-text-header {
    padding-top: 20px;
    font-size: 22px;
}

.lp-card-text {
    white-space: nowrap;
    text-overflow: hidden;
    overflow: hidden;
}

.lp-card-footer {
    bottom: 0;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 26px;
}