.mat-toolbar {
  height: 90px;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-button-group {
  display: flexbox;
  align-items: center;
  justify-content: space-between;
}

.toolbar-button {
  width: 120px;
  border: 2px solid;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-color: #ECE5E0;
}

.toolbar-spacer {
  width: 30%;
}

.toolbar-content {
  background: white;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}