.mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-button {
  border-radius: 20%;
}

.toolbar-spacer {
  width: 30%;
}

.toolbar-content {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}